html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;     
}

.mainContent{
    display: flex;
    justify-content: center;    
    flex-direction: column;    
}

.opening{
    text-align: center;
    font-size: 24px;
}

.firstContent{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
}

#theTime{    
    padding: 0px 10px;
    border: 2px solid black;
    margin :0px;
}

.secondContent{
    font-family: "Tahoma", sans-serif;
    margin-bottom: 20px;    
}

#selectFood{
    border: 2px solid #b31240;
    background-color: #ffc6d6;
    border-radius: 5px;
}

#quotesOfTheDay {
    margin-bottom: 0px;
    margin-top: 5px;
    border: 2px solid #b31240;
    background-color: #ffc6d6;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.thirdContent{
    font-family: "Tahoma", sans-serif; 
    margin-bottom: 20px;    
}

#selectTheme{
    border: 2px solid #b31240;
    background-color: #ffc6d6 !important;
    border-radius: 5px;
}

.gelap {
    color: white;
    background-color: black;
}

.fourthContent{
    font-family: "Tahoma", sans-serif;  
}

.fourthContent p{
    margin-top: 0px;
    margin-bottom: 5px;
}

#angkaFact{
    border: 2px solid #b31240;
    background-color: #ffc6d6 !important;
    border-radius: 5px;
}

#btnFact{
    border: 2px solid #b31240;
    background-color: #ffc6d6 !important;
    border-radius: 5px;
}



